EXPO_PUBLIC_API_BASE_URL=http://192.168.0.134:8000/api/v1
EXPO_PUBLIC_STUDENT_API_BASE_URL=http://192.168.0.134:8000/api
EXPO_PUBLIC_BACKEND_ORIGIN=http://192.168.0.134:8000
EXPO_PUBLIC_AUTH_MODE=auto
EXPO_PUBLIC_REVERB_APP_KEY=pjaofk2kggty69regh6a
EXPO_PUBLIC_REVERB_HOST=192.168.0.134
EXPO_PUBLIC_REVERB_PORT=8080
EXPO_PUBLIC_REVERB_SCHEME=http

